
.panelator_site_template { 
/*  overflow: hidden;  */
}

.panelator_site_template .panel-col-first { 
  float: left; 
  width: 33%; 
}

.panelator_site_template .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panelator_site_template .panel-col { 
  float: left; 
  width: 33%; 
}

.panelator_site_template .panel-col .inside { 
  margin: 0 .5em 1em .5em;
}

.panelator_site_template .panel-col-last { 
  float: left; 
  width: 33%; 
}

.panelator_site_template .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

.panelator_site_template .panel-separator {
  margin: 0 0 1em 0;
}
